<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css"
          href="/webjars/Semantic-UI/2.4.1/semantic.css"
          th:href="@{/webjars/Semantic-UI/semantic.min.css}"/>
    <link rel="shortcut icon" href="/favicon.ico" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <style>
        html, body {
            padding: 1%;
        }
        ul {
            list-style: none;
        }
    </style>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Vote!</title>
</head>
<body>
<!--/*@thymesVar id="message" type="com.github.daggerok.surveys.votingsystem.Message"*/-->
<form action="#" th:action="@{/}" th:object="${message}" method="post">
    <div>Send message: <input autofocus type="text" th:field="*{body}"/></div>
    <div><input hidden type="submit" value="Send message"/></div>
</form>
<p>Hostname is: [[${hostname}]]</p>
<!--/*@thymesVar id="stream" type="com.github.daggerok.surveys.votingsystem.VotingPage"*/-->
<ul th:each="msg : ${stream}">
    <li>[[ ${msg} ]]</li>
</ul>
</body>
</html>
